* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

#container {
    width: 50%;
    height: auto;
    max-height: 700px;
    margin: 80px auto;
}
