
<form  [formGroup]="formElement" (ngSubmit)="onSubmit()">

    <div class="form-array-wrapper">

        <div formArrayName="keyValueArr" class="key-value-array">
    
            <div *ngFor="let item of keyValueArray.controls; let i = index" formGroupName= "{{i}}">
                
                <div class="form-group">
                    <div>
                        <input type="text" placeholder="key" formControlName="key" (change)="onInputChange($event,i)">
                        <!-- <ng-container *ngIf="$any(this.keyValueArray.controls[i]).controls['key'].errors">
                            <custom-error></custom-error>
                        </ng-container> -->
                        <p class="error-msg"
                            *ngIf="$any(this.keyValueArray.controls[i]).controls['key'].errors?.['unique'] && this.keyValueArray.controls[i].untouched == false">Please
                            Provide Unique Value </p>
                        <p class="error-msg" 
                        *ngIf="$any(this.keyValueArray.controls[i]).controls['key'].errors?.['required'] && $any(this.keyValueArray.controls[i]).controls['key'].touched">Field Cannot Be Empty </p>
                        <p class="error-msg" *ngIf="$any(this.keyValueArray.controls[i]).controls['key'].errors?.['pattern']">Only Alpha Numeric Characters are
                            allowed</p>
                        <p class="error-msg" *ngIf="$any(this.keyValueArray.controls[i]).controls['key'].errors?.['minlength']">Key must be greater than Three Characters </p>
                    </div>

                    <div>
                        <input type="text" placeholder="value" formControlName="value"> 
                        <button type="button" title="remove button" (click)="removeKeyValuePair(i)" class="btn remove-btn">Remove</button>
                    </div>
                </div>
            </div>
            <button title="add a row" type="button" (click)="addKeyValuePair()" class="btn add-btn">add+</button>
        </div>
    </div>
    <button title="submit-button" type="submit" [disabled]="isFormValid ? false: true" class="btn submit-btn"> Submit </button>
</form>


<!-- 
    using material ,
    make a component tag which should have a formgroup 
    make a separate service for all (router, localstorage)
    structure of form should be in tag that is validation 
 -->